<style>
  #accordion h3{
    color: #000;
    cursor: pointer;
    padding: 25px 0;
    width: 100%;
    text-align: left;
    font-size: 18px;
    border-top: solid 1px #e8e6e5;
    outline: none;
    margin: 0px;
  }
  #accordion h3:before{
    content: "\f0da";
    display: inline-block;
    font: normal normal normal 12px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 15px;
    font-size: 14px;
    position: relative;
    top: -1px;
    transition: 0.15s all;
  }
  #accordion h3.ui-state-active:before{
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
</style>
<div id="accordion">
{% if product.metafields.tab_1_title.tab_1_title %}
  <h3>{{ product.metafields.tab_1_title.tab_1_title }}</h3>
{% endif %}
{% if product.metafields.tab_1_content.tab_1_content %}
  <div>
    <p>
      {{ product.metafields.tab_1_content.tab_1_content }}
    </p>
  </div>
{% endif %}
{% if product.metafields.accentuate.tab_2_title %}
  <h3>{{ product.metafields.accentuate.tab_2_title }}</h3>
{% endif %}
{% if product.metafields.accentuate.tab_2_content %}
  <div>
    <p>
      {{ product.metafields.accentuate.tab_2_content }}
    </p>
  </div>
{% endif %} 

{% if product.metafields.accentuate.tab_4_title %}
  <h3>{{ product.metafields.accentuate.tab_4_title }}</h3>
{% endif %}
{% if product.metafields.accentuate.tab_4_content %}
  <div>
    <p>
      {{ product.metafields.accentuate.tab_4_content }}
    </p>
  </div>
{% endif %} 
  
  {% if product.metafields.accentuate.tab_5_title %}
  <h3>{{ product.metafields.accentuate.tab_5_title }}</h3>
{% endif %}
{% if product.metafields.accentuate.tab_5_content %}
  <div>
    <p>
      {{ product.metafields.accentuate.tab_5_content }}
    </p>
  </div>
{% endif %}
  
    {% if product.metafields.accentuate.tab_6_title %}
  <h3>{{ product.metafields.accentuate.tab_6_title }}</h3>
{% endif %}
{% if product.metafields.accentuate.tab_6_content %}
  <div>
    <p>
      {{ product.metafields.accentuate.tab_6_content }}
    </p>
  </div>
{% endif %}
  
</div>