{% if section.settings.show_this_section and section.blocks.size > 0 %}
  <div class="interested-courses">
    <div class="interested-courses__inner">
      {% if section.settings.title != blank %}
        <h2 class="interested-courses__heading">
          {{ section.settings.title }}
        </h2>
      {% endif %}
        
      <ul class="interested-courses__list">
        {% for block in section.blocks %}
          <li class="interested-courses__item" style="background-image: url({{ block.settings.image | img_url: 'master' }})">
            <h3 class="interested-courses__item-title" style="color: {{ block.settings.color }}">{{ block.settings.title }}</h3>
            <a href="{{ block.settings.link }}" class="interested-courses__item-link" style="background: {{ block.settings.color }}">{{ 'product.read_more_v1' | t }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Interested courses",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_this_section",
      "label": "Show this section",
      "default": true 
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "You may also be interested in..."
    }
  ],
  "blocks": [
    {
      "name": "Courses",
      "type": "courses",
      "settings": [
        {
          "type": "url", 
          "id": "link", 
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color title",
          "default": "#1A3856"
        }
      ]
    }
  ]
}
{% endschema %}
