<style>
  .block-data {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .inline-block-gd {
    display: inline-block;
    vertical-align: top;
    width:25%;
        border-right: 1px;
    <!--border-right: 1px solid; -->
    margin-bottom: 20px;
  }

  .inline-block-gd:nth-child(4),
  .inline-block-gd:nth-child(6){
    border-right: 0px;
  }
  .inline-block-gd p {
    text-align: left;
    padding: 15px 15px;
  }
  .block-data .inline-block-gd img {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    width: 100px;
    max-width: 100%;
  }
  section.image-gd-section-{{section.id}} {
    text-align: center;
  }
  .block-data h4 {
    margin-top: 5px;
  }
  .block-data h3 {
    margin-bottom: 0px;
  }
  section.image-gd-section-{{section.id}} h2.section-title {
    text-transform: capitalize;
    color: #042855;
  }
  @media only screen and (max-width:767px){
    .inline-block-gd {
      width:50%;
    }
  }
    @media only screen and (max-width:480px){
    .inline-block-gd {
      width:100%;
    }
  }


</style>
{% if section.blocks.size > 0 %}
<section data-section-id="{{section.id}}" class="image-gd-section-{{section.id}}">
  <h2 class="section-title">{{ section.settings.title | escape }}</h2>
  <div class="block-data">
    {% for block in section.blocks %}
    <div class="inline-block-gd">
      <img src="{{ block.settings.image | img_url:'x240' }}">
      <h3>{{ block.settings.title }}</h3>
      <p>{{ block.settings.content }}</p>
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}
{% schema %}
{
   "name":"Services for schools",
   "settings":[
      {
         "id":"title",
         "label":"Section title",
         "type":"text",
         "default":"In the office"
      }
   ],
   "blocks":[
      {
         "type":"image",
         "name":"Images",
         "settings":[
            {
               "id":"image",
               "type":"image_picker",
               "label":"Image"
            },
            {
               "id":"title",
               "type":"text",
               "label":"Title"
            },
            {
               "id":"content",
               "type":"html",
               "label":"Content"
            }
         ]
      }
   ]
}
{% endschema %}
