<div class="section-password-wrapper">
  <h1 aria-label="{{ shop.name | escape }}">
    {%- if section.settings.logo != blank -%}
      <img
        alt="{{ section.settings.logo.alt | escape }}"
        {% include 'img-src', img: section.settings.logo, size: '400x' %}
      >
    {%- else -%}
      {{ shop.name }}
    {%- endif -%}
  </h1>

  <h2>
    {{ 'password.title' | t}}
  </h2>

  {% unless shop.password_message == blank %}
    <p>
      {{ shop.password_message }}
    </p>
  {% endunless %}

  {%- if section.settings.show_newsletter_signup -%}
    {%- include 'newsletter' -%}
  {%- endif -%}

  <h3>{{ 'password.enter_password' | t }}</h3>

  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <input
      type="password"
      name="password"
      placeholder="{{ 'general.form.password_placeholder' | t }}">
    <input
      type="submit"
      class="button"
      value="{{ 'general.form.submit' | t }}">
  {% endform %}
</div>

{% schema %}
{
  "name": "Password page",
  "class": "section-password",
  "settings": [
    {
      "id": "logo",
      "type": "image_picker",
      "label": "Logo image",
      "info": "400 x 200px .png recommended"
    },
    {
      "id": "show_newsletter_signup",
      "type": "checkbox",
      "label": "Show newsletter signup",
      "default": true
    }
  ]
}

{% endschema %}